body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
}
h1{
    color: #3498db;
}

button{
    background-color: #333;
    color: #3498db;
    height: 40px;
}

.game-container {
    text-align: center;
    text-align: center;
    position: fixed;
}

#message{
    background-color: #333;
    color: greenyellow;
    width: 300px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 600px) {
    footer {
        padding: 10px; /* Reduce padding on small screens */
        font-size: 14px; /* Reduce font size for better fit */
    }
    #message{
        padding: 10px;
        font-size: 14px;
        /*width: 300px;*/
    }
    button{
        margin-bottom: 90px;
    }
}

.moving-text {
    color: #3498db;
    animation: slide 3s infinite alternate;
    position: relative;
}

@keyframes slide {
    from {
        left: -100px;
    }
    to {
        left: 100px; /* Adjust this value to control the movement range */
    }
}

.puzzle-board {
    display: grid;
    gap: 2px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border: 2px solid #333;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('lwa.jpg');
    background-size: 300px 300px;
    cursor: pointer;
    transition: background 0.3s;
}

.tile.empty {
    background: #f4f4f9;
    cursor: default;
}